* {
    padding: 0;
    margin: 0;
}

img, input[type="image"] {
    height: auto;
    width: 40px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: auto 1fr;
}

header.header-container {
    padding: 15px;
}

nav.sidebar-container {
    grid-row: 1 / -1;
    background-color: turquoise;
    padding: 15px;
}

main.main-content-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 15px;
}

.cards-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}